.dashboard-body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.category {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-bottom: -20px;
    margin-left: 50px;
}

.cat-div {
    width: 351px;
    height: 321px;
    background-color: #BFB9FA;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 10px;
    text-decoration: none;
}

.cat-title {
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    font-weight: lighter;
    color: #000000;
    margin-top: 35%;
    margin-left: 32%;

}

.category-divs {
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
}

.graphs {
    display: flex;
    flex-direction: row;
    /* margin-top: 20p */
    margin: 30px auto;
}

.horizontal-div {
    margin-left: -20px;
    margin-right: 50px;
    /* height: 200px; */
}

.bar-div {
    margin-right: 50px;
}

.horizontal-div h2 {
    font-family: 'Lato', sans-serif;
}

.bar-div h2 {
    font-family: 'Lato', sans-serif;
}

.pie-div h2 {
    font-family: 'Lato', sans-serif;
}
