.arrays-outer-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* margin: 0 auto; */
}

.outer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 170px;
    /* height: 90px; */
}

.problem-div {
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 30px;
    width: 350px;
    display: flex;
    flex-direction: row;
}

.problem-title {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: light;
}

.category-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #3E3C50;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.easy-button {
    padding: 20px;
    border-radius: 30%;
    background-color: #C5F2C7;
    margin-right: 20px;
    margin-top: -5px;
}

.medium-button {
    padding: 20px;
    border-radius: 30%;
    background-color: #FFE575;
    margin-right: 20px;
    margin-top: -5px;
}

.hard-button {
    padding: 20px;
    border-radius: 30%;
    background-color: #FF908D;
    margin-right: 20px;
    margin-top: -5px;
}

.review-btn {
    font-family: 'Lato', sans-serif;
    background-color: #BFB9FA;
    border: none;
    box-shadow: 0 19px 38px rgba(191,185,250,0.30), 0 15px 12px rgba(191,185,250,0.22);
    border-radius: 10px;
    font-size: 14px;
    font-weight: regular;
    height: 30px;
    color: #fff;
}

.solved-btn {
    font-family: 'Lato', sans-serif;
    background-color: #BFB9FA;
    border: none;
    box-shadow: 0 19px 38px rgba(191,185,250,0.30), 0 15px 12px rgba(191,185,250,0.22);
    border-radius: 10px;
    font-size: 14px;
    font-weight: regular;
    height: 30px;
    color: #fff;
}

.easy-div {
    overflow-y:auto;
    height: 800px;
    width: 480px;
    padding-top: 20px;
}

.medium-div {
    overflow-y:auto;
    height: 800px;
    width: 480px;
    padding-top: 20px;
}

.hard-div {
    overflow-y:auto;
    height: 800px;
    width: 480px;
    padding-top: 20px;
}

.easy-component {
    display: flex;
    flex-direction: column;
}
