.nav-outer {
    display: flex;
    flex-direction: column;
    width: 131px;
    background-color: #F6F7FB;
    height: 100%;
}

.link {
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    /* text-align: center; */
    justify-content: center;
}

.login-link {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    text-align: center;
}

.login-div {
    margin-left: -15px;
}

.fa-home {
    color: #ffff;
    font-size: 23px;
    /* justify-content: center; */
    margin-top: 12px;
    margin-left: 12px;
}

.fa-user {
    color: #ffff;
    font-size: 23px;
    /* justify-content: center; */
    margin-top: 12px;
    margin-left: 15px;
}

.fa-power-off {
    color: #ffff;
    font-size: 23px;
    /* justify-content: center; */
    margin-top: 13px;
    margin-left: 13px;
}

.nav-link {
    text-decoration: none;
    margin-left: 10px;
    background-color: #BFB9FA;
    width: 50px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(191,185,250,0.30), 0 15px 12px rgba(191,185,250,0.22);
}

.nav-login {
    margin-top: 20px;
    text-decoration: none;
    color: #3E3C50;
}

.nav-login:hover {
    font-weight: 400;
}

.nav-signup {
    text-decoration: none;
    color: #3E3C50;
}

.nav-signup:hover {
    font-weight: 400;
}

.sidebar-nav-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

.logout-btn {
    margin-top: 500px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    cursor: pointer;
}

.btn-dash {
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.btn-profile {
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.btn-logout {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}
