.nav-outer {
    display: flex;
    flex-direction: column;
    width: 131px;
    background-color: #F6F7FB;
    height: 100%;
}

.link {
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.fa-home {
    color: #ffff;
    font-size: 23px;
    /* justify-content: center; */
    margin-top: 12px;
    margin-left: 12px;
}

.fa-user {
    color: #ffff;
    font-size: 23px;
    /* justify-content: center; */
    margin-top: 12px;
    margin-left: 15px;
}

.nav-link {
    text-decoration: none;
    background-color: #BFB9FA;
    width: 50px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(191,185,250,0.30), 0 15px 12px rgba(191,185,250,0.22);

    /* justify-content: center; */
}
