.nav-outer {
    display: flex;
    flex-direction: column;
    width: 131px;
    background-color: #F6F7FB;
    height: 100%;
}

.link {
    margin-bottom: 20px;
    margin-left: 30px;
}


.nav-link {
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
