.nav-top {
    font-size: 30px;
    height: 113px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F6F7FB;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.logo {
    padding-top: 31px;
    padding-left: 50px;
}

.logo-box {
    height: 113px;
    width: 131px;
    background-color: #393D46;
}

.fa-code {
    color: #fff;
    margin-left: 45px;
    margin-top: 30px;
}
